header, nav, .main, footer{
    width: 95%;
    max-width: 1000px;
    margin: 10px auto;
}

body {
    background-image:url(imagenes/imag1.jpg)
    
}

nav{
    color:rgb(50, 145, 78);
    background: rgb(46, 146, 71);
    overflow: hidden;
    margin: 10px auto;
}

nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    padding: 10px 20px;
}
nav ul li a{
    color:white;
    text-decoration: none;
}
.main .articles{
    width: 60%;
    margin-right: 1.5%;
    background: gray;
    float:left;
}
.main .articles article{
    padding: 10px;
    background: gray;
    margin-bottom: 10px;
}
aside{
    width: 30%
    float left;
    background: orange;
    padding: 5px;
    box-sizing: border-box;
}



footer{
    
    clear:both;
    background: black;
    color: white;
    padding: 5px;
    text-align: center;
}
