<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Conejos</title>
<link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
<header>
   <h1>Información sobre conejos</h1>
   <img src="/static/imagenes/conejo.jpg" alt="Conejos" width="300px">
</header>
  
<section id="razas">
    <h2>Razas de conejos</h2>
    <p>Los conejos vienen en una variedad de razas con diferentes colores, patrones y tamaños. Algunas razas populares incluyen el Holandés, el Angora, el Mini Rex, el Mini Lop, entre otros. Cada raza tiene sus propias características físicas y necesidades específicas.</p>
    <img src="/static/imagenes/conejo.jpg" alt="Razas de conejos" width="400px">
</section>

<section id="cuidados">
    <h2>Cuidados básicos</h2>
    <p>Proporcionar cuidados básicos adecuados es esencial para mantener a tu conejo feliz y saludable. Esto incluye proporcionarle una dieta equilibrada y nutritiva, asegurarse de que tenga acceso a heno fresco en todo momento, proporcionarle un espacio limpio y seguro para vivir, y llevarlo regularmente al veterinario para chequeos de salud.</p>
    <img src="/static/imagenes/conejo2.jpg" alt="Cuidados de conejos" width="400px">
</section>

<section id="alimentacion">
    <h2>Alimentación</h2>
    <p>La alimentación adecuada es fundamental para la salud y el bienestar de tu conejo. Los conejos deben tener acceso constante a heno de buena calidad, así como a una variedad de verduras frescas y pequeñas cantidades de pellets de alta calidad. Evita darles alimentos grasos o ricos en azúcar, y asegúrate de que siempre tengan agua limpia y fresca disponible.</p>
    <img src="/static/imagenes/conejo3.jpg" alt="Alimentación de conejos" width="400px">
</section>

<section id="comportamiento">
    <h2>Comportamiento</h2>
    <p>Los conejos son animales sociales e inteligentes que pueden formar fuertes vínculos con sus cuidadores. Les gusta explorar, jugar y socializar con otros conejos y humanos. Proporcionarles suficiente espacio para moverse y oportunidades para interactuar y enriquecer su entorno es fundamental para su bienestar emocional.</p>
    <img src="/static/imagenes/comportamientoconejo.jpg" alt="Comportamiento de conejos" width="400px">
</section>

<div style="text-align: center; margin-top: 200px;">
    <a href="/index"><button>Nosotros</button></a>
</div>

</body>
</html>
