<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gatos</title>
<link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
<header>
   <h1>Información sobre gatos</h1>
   <img src="/static/imagenes/gato.jpg" alt="Gatos" width="300px">
</header>


    
<section id="razas">
    <h2>Razas de gatos</h2>
    <p>Los gatos vienen en una variedad de razas con diferentes colores, patrones y características físicas. Algunas razas populares incluyen el Siamés, el Persa, el Maine Coon, el Bengala, entre otros. Cada raza tiene su propio temperamento y necesidades específicas.</p>
    <img src="/static/imagenes/gato2.jpg" alt="Razas de gatos" width="400px">
</section>

<section id="cuidados">
    <h2>Cuidados básicos</h2>
    <p>Proporcionar cuidados básicos adecuados es esencial para mantener a tu gato feliz y saludable. Esto incluye proporcionarle una dieta equilibrada y nutritiva, asegurarse de que tenga acceso a agua fresca en todo momento, proporcionarle una caja de arena limpia, y llevarlo regularmente al veterinario para chequeos de salud.</p>
    <img src="/static/imagenes/gato3.jpg" alt="Cuidados de gatos" width="400px">
</section>

<section id="alimentacion">
    <h2>Alimentación</h2>
    <p>La alimentación adecuada es fundamental para la salud y el bienestar de tu gato. Es importante elegir un alimento de alta calidad que satisfaga las necesidades nutricionales específicas de tu mascota, basado en su edad, peso, nivel de actividad y cualquier condición de salud existente.</p>
    <img src="/static/imagenes/alimentogato.jpg" alt="Alimentación de gatos" width="400px">
</section>

<section id="comportamiento">
    <h2>Comportamiento</h2>
    <p>Los gatos tienen comportamientos únicos y pueden ser independientes pero cariñosos compañeros. Entender el comportamiento de tu gato te ayudará a establecer una relación sólida con él. Los gatos disfrutan de la exploración, la caza de juguetes y el tiempo de juego interactivo.</p>
    <img src="/static/imagenes/comportamintogato.jpg" alt="Comportamiento de gatos" width="400px">
</section>
<div style="text-align: center; margin-top: 200px;">
    <a href="/index"><button>Nosotros</button></a>
</div>

</body>
</html>
