{% extends "layout.html" %}

{% block content %}
    
<section class="main" >
    
<section class="articles">
        <article>
            <h2>Informacion de la veterinaria  </h2>
            <br>
            <p>Somos una clínica dedicada al cuidado integral de tus mascotas.
                 En nuestra clínica, ofrecemos una amplia gama de servicios veterinarios,
                  incluyendo consultas médicas, vacunaciones, cirugías, análisis de laboratorio,
                   servicios de emergencia y mucho más.
                <center><img src="/static/imagenes/imag1.jpg" width="200px"></center>
           </p>
       </article>
        <article>
           <h2>Ayuda especialmente a:  </h2>
            <br>
            <p>En esta veterinaria ayudamos especialmente a perros,gatos y a conejos
                ya que es una veterinaria nueva y nos estamos especializando en otros animales
            </p>
        
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> Aviso para darle algun medicamento a su mascota
        debera tener receta que le dio la veterinaria
        para no causar ningun tipo de daño a la mascota
        <br>
       
    </p>
      
</aside>
{% endblock %}