<!DOCTYPE html>
<html lang="es">
<head>
<meta name="keywords" content="HTML5, CSS3">
<title>Colita Feliz</title>
<link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
<header>
   <img src="/static/imagenes/vete.jpg" width="200px">
</header>

<nav>
    <ul>
        <li><a href="/index">Inicio</a></li>
        <li><a href="/perro">Informacion sobre perros</a></li>
        <li><a href="/Gatos">Informacion sobre los gatos</a></li>
        <li><a href="/Conejos">Informacion sobre Conejos</a></li>
        <li><a href="/contacto">Informacion sobre Conejos</a></li>
    </ul>
</nav>
{% block content %}
{% endblock %} 

    
  
<footer>
    <p>Este es el pie de página</p>
</footer>
  
</body>
</html>