<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Información sobre perros</title>
<link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
<header>
   <h1>Información sobre perros</h1>
   <center><img src="/static/imagenes/perro.jpg" alt="Perros" width="300px"></center>
</header>


<section id="razas">
    <h2>Razas de perros</h2>
    <p>Existen numerosas razas de perros, cada una con sus propias características únicas en cuanto a tamaño, temperamento y necesidades de cuidado. Algunas razas populares incluyen el Labrador Retriever, el Pastor Alemán, el Bulldog Francés, el Golden Retriever, entre muchos otros.</p>
 <center><img src="/static/imagenes/perro2.jpg" alt="Razas de perros" width="200px"></center>
</section>

<section id="cuidados">
    <h2>Cuidados básicos</h2>
    <p>Para mantener a tu perro feliz y saludable, es importante proporcionarle cuidados básicos adecuados. Esto incluye darle una dieta equilibrada y nutritiva, brindarle suficiente ejercicio físico, asegurarse de que tenga acceso a agua fresca en todo momento, y llevarlo regularmente al veterinario para chequeos de salud.</p>
 <center><img src="/static/imagenes/perro3.jpg" alt="Cuidados de perros" width="200px"></center>
</section>

<section id="alimentacion">
    <h2>Alimentación</h2>
    <p>La alimentación adecuada es esencial para la salud y el bienestar de tu perro. Es importante elegir un alimento de alta calidad que satisfaga las necesidades nutricionales específicas de tu mascota, basado en su edad, tamaño, nivel de actividad y cualquier condición de salud existente.</p>
 <center><img src="/static/imagenes/alimentacionperros.jpg" alt="Alimentación de perros" width="400px"></center>
</section>

<section id="ejercicio">
    <h2>Ejercicio</h2>
    <p>Los perros necesitan ejercicio regular para mantenerse física y mentalmente saludables. El tipo y la cantidad de ejercicio que tu perro necesita dependerán de factores como su edad, raza y nivel de energía. Asegúrate de proporcionarle suficiente actividad física a tu perro mediante paseos diarios, juegos interactivos y otras actividades divertidas.</p>
    <img src="/static/imagenes/imag1.jpg" alt="Ejercicio para perros" width="400px">
</section>
<div style="text-align: center; margin-top: 200px;">
    <a href="/index"><button>Nosotros</button></a>
</div>

</body>
</html>
